.header__wrapper {
  height: 12px;
  /*background: linear-gradient(to left, rgb(179, 117, 117), rgb(15, 89, 119));*/
  background-color: #1b5565;
}

.footer__wrapper {
  height: 12px;
  /*background: linear-gradient(
    to top left,
    rgb(179, 117, 117),
    rgb(15, 89, 119)
  );*/
  background-color: #1b5565;
}

#main {
  height: 100%;
}

.main__container {
  height: 100%;

  /*background: linear-gradient(
    to right,
    hsl(150, 50%, 68%),
    rgb(141, 201, 217),
    hsl(150, 50%, 70%)
  );*/
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  background-color: #f1f1f1;
}

::-webkit-scroll-track {
  /* background: slategrey; */
}

::-webkit-scrollbar-thumb {
  /* background: bisque; */
  background: linear-gradient(to bottom, coral, pink, rgb(145, 51, 51));
  border-radius: 8px;
}
