
.header__wrapper {
  /* background: linear-gradient(to right, #0c2357, #8c72c7); */
  background: linear-gradient(to top right, rgb(129, 53, 53), rgb(15, 89, 119));

}

.footer__wrapper {
  /*background: linear-gradient(to left, #0c2357, #8c72c7);*/
  background: linear-gradient(to top left, rgb(129, 53, 53), rgb(15, 89, 119));

}

#main {
  height: 96%;
}

.main__container {
  height: 100%;
    /* background: linear-gradient(to bottom right, #ffcccc, #ff99cc);   */
    background: linear-gradient(to bottom right, #ffcccc, #7fa4b4,  hsl(150, 50%, 80%));  
   /* background: linear-gradient(to bottom right,  #b9a1a7, rgb(156, 156, 108), hsl(150, 50%, 80%));  */

}


/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  background-color: #f1f1f1;
}

::-webkit-scroll-track {
    /* background: slategrey; */
}

::-webkit-scrollbar-thumb {
  /* background: bisque; */
  background: linear-gradient(to bottom,coral, pink, rgb(145, 51, 51));
  border-radius: 8px;
}
