.catalog__wrapper {
  background-color: rgba(19, 19, 20, 0.981);
}

.catalog__header {
  padding-left: 4px;
  border-top: 1px solid #3d6279;
  border-bottom: 1px solid #3d6279;

  border-radius: 4px;
}

.catalog__item {
  margin-bottom: 8px;
  > a {
    font-weight: 500;
    color: #fff;

    &:hover {
      color: rgb(129, 53, 53);
    }
  }
}

.list__topics {
  margin: 12px 16px;
  width: 96%;
}

.current__topic {
  &::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 24px;
    border-radius: 4px;
    background-color: #4373c0;
  }

  > a {
    color: #4373c0;
    padding: 1px 0;
    padding-left: 16px;
    padding-right: 32px;
    border: 1px solid #435ec0;
    border-radius: 4px;

    &:hover {
    background-color: rgb(34, 50, 70);
    color: white;
    
      
    }
  }
}

.catalog__main {
  height: 90%;
  margin: 10% 0;

  .left__bar {
    width: 2px;
    background: linear-gradient(to bottom, #ca809c, #3d6279);
  }

  .right__bar {
    border-radius: 4px;
    width: 1px;
    background-color: #3d6279;
  }
}
