.catalog__wrapper {
  background-color: rgba(19, 19, 20, 0.981);
}

.catalog__header {
  padding-left: 4px;
  border-top: 1px solid #3d6279;
  border-bottom: 1px solid #3d6279;

  border-radius: 4px;
}

.catalog__item {
  margin-bottom: 8px;
  > a {
    font-weight: 500;
    color: #fff;

    &:hover {
      color: rgb(129, 53, 53);
    }
  }
}

.list__topics {
  margin: 12px 16px;
  width: 96%;
}

.current__topic {
  &::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 24px;
    border-radius: 4px;
    background-color: #4373c0;
  }

  > a {
    color: #4373c0;
    padding: 1px 0;
    padding-left: 16px;
    padding-right: 32px;
    border: 1px solid #435ec0;
    border-radius: 4px;

    &:hover {
      background-color: rgb(34, 50, 70);
      color: white;
    }
  }
}

.catalog__main {
  height: 90%;
  margin: 10% 0;

  .left__bar {
    width: 2px;
    background: linear-gradient(to bottom, #ca809c, #3d6279);
  }

  .right__bar {
    border-radius: 4px;
    width: 1px;
    background-color: #3d6279;
  }
}

.topic__item, .post__item {
  > a {
    &:hover {
      text-decoration: none;

      .right__triangle {
        border-left: 8px solid #4373c0;
      }
    }
  }
}

.right__triangle {
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-right: 6px;

  border-left: 8px solid rgba(255, 255, 255, 0.5);
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;

}

.bottom__triangle {
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-right: 6px;
  transform: translateY(-3px);

  border-top: 8px solid blue;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.post__item {
  margin-left: 18px;
  margin-bottom: 2px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.post__item-active {
  background-color: rgb(34, 50, 70);
  color: white;

  padding-left: 16px;
  border-left: 2px solid #4373c0;
}
