@media screen and (max-width: 1250px) {

    .sections__wrapper {
      display: none !important;
    }
    .--menu__sections {
        display: block !important;
    }
    .content__wrapper {
      width: 80% !important;
    }
}


@media screen and (max-width: 1060px) {
    .blog__main {
        padding-left: 20px !important;
        padding-right: 20px !important;

    }
    .catalog__wrapper {
        width: 30% !important;
    }
}

@media screen and (max-width: 770px) {
    .catalog__wrapper {
        display: none;
    }
    .content__wrapper {
        width: 100% !important;
        border-left: none;
        padding-top: 8px;
    }

    .blog__main {
        padding-left: 26px !important;
    }

    .--menu__catalog {
        display: block ;
    }
}
