.section__comment-item {
    margin-bottom: 4px;
    font-weight: 300;
  }

  /* sections list  */
.bar {
    width: 2px;
  }
  
  .section__item {
    margin-bottom: 8px;
    > a {
      color: #fff;
      font-weight: 500;
      &:hover {
        color: rgb(129, 53, 53);
      }
    }
  }

  .sections__wrapper {
    background-color: rgba(19, 19, 20, 0.88);
  }

  .--menu__sections {
    display: none;
  
    position: fixed;
    top: 4px;
    right:0px;
    width: 26px;
    height: 26px;
    margin-right: 4px;
  }